
.box_category{
    width: 80%;
    margin: auto auto;
}

.category{
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.category_box{
    line-height: 0;
    transition: all .2s;
    border-radius: 10px;
    cursor: pointer;
    padding-bottom: 10px;
    min-width: 180px;
    
}

.category_box:hover{
    color:black;
    background-color: white;
}

.category_box_img{
    border-radius: 10px;
    width: 100%;
}

.category_box_title{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.category_box_title span{
    font-size: 35px;
    margin-top: 10px;
}
/* 
@media (max-device-width: 767px) {
    .category{
        grid-template-columns: repeat(2,1fr);
    }
} */

