.notifications{
    font-size: 13px;
    line-height: 0.9;
}

.notifications_box{
    display: flex;
    padding: 5px;
    transition: .2s;
    border-radius: 5px;
}

.notifications_box:hover{
    background-color: white;
    color: black;
}

.notifications_box_img{
    border-radius: 50px;
    width: 50%;
    height: 50%;
    margin-left: -20px;
    margin-right: -20px;
}

.notifications_box_info{
    display: flex;
    flex-direction: column;
}

.notifications_box_sender,
.notifications_box_paragraph{
    margin-bottom: 2px;
    margin-top: 2px;
}
/* @media (max-width: 768px){
    .notification_box_new{
        width: 20px;
        height: 14px;
    }
} */