.marketplace{
  margin: 0 auto;
  max-width: 1280px;
  padding-inline: clamp(16px, 3vw, 32px);
}

.pagination {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold; 
}

.pageLink {
  margin: 0 0.25rem;
  font-weight: normal;
  border: 1px solid white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.pageLink:hover {
  background-color: rgba(0, 40, 27, 1);
}

.activePage {
  background-color: white;
  color: black;
}
